In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('phonedata - Sheet1.csv')

In [3]:
data

          Number
0   123-545-5421
1   123/643/9775
2     7069456789
3   123-545-5421
4   876|678|3469
5   304-762-2467
6            NaN
7   876|678|3469
8            N/a
9   123-545-5421
10    7069456789
11           NaN
12    7069456789

In [5]:
data.values

array([['123-545-5421'],
       ['123/643/9775'],
       ['7069456789'],
       ['123-545-5421'],
       ['876|678|3469'],
       ['304-762-2467'],
       [nan],
       ['876|678|3469'],
       ['N/a'],
       ['123-545-5421'],
       ['7069456789'],
       [nan],
       ['7069456789']], dtype=object)

In [54]:
cleaned_number = []
for i in data.values:
    number = i[0]
    if type(number) == str:
        if len(number)>10:
            if number[-5] == "/" :
                number = number.replace('/','-')
                cleaned_number.append(number)
            elif number[-5] == "|":
                number = number.replace('|','-')
                cleaned_number.append(number)
            elif number[-5] == "-":
                cleaned_number.append(number)
        elif len(number) == 10:
            number =number[:3] +'-'+ number[3:6]+'-'+ number[6:10]
            cleaned_number.append(number)
    elif type(number) == float:
        cleaned_number.append(number)
print(cleaned_number)

['123-545-5421', '123-643-9775', '706-945-6789', '123-545-5421', '876-678-3469', '304-762-2467', nan, '876-678-3469', '123-545-5421', '706-945-6789', nan, '706-945-6789']